/* Le titre et les titres des popin */
header, h1.typein {
	color: #1d7f52;
}

/* Le menu de navigation */
nav {
	background-color: #8be2b9;
	border: solid 1px #1d7f52;
	background: -webkit-gradient(linear, left top, left bottom, from(#8be2b9), to(#60d8a1));
	background: -moz-linear-gradient(top, #8be2b9, #60d8a1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8be2b9', endColorstr='#60d8a1');
	}

/* Les liens du menu de navigation */
nav a {
	background-color: #60d8a1;
	color: black;
	border-color: #1d7f52;
	background: -webkit-gradient(linear, left top, left bottom, from(#60d8a1), to(#8be2b9));
	background: -moz-linear-gradient(top, #60d8a1, #8be2b9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60d8a1', endColorstr='#8be2b9');
	text-shadow: 1px 1px 1px grey;
	}
	
nav a:hover {
	color: white;
	box-shadow: 1px 1px 10px  #00b05f inset;
	}
	
/* Les images de sprite pour les boutons submit etc */
input.edit {
	background: url(../images/sprite.png) no-repeat -0 -246px;
}

input.delete {
	background: url(../images/sprite.png) no-repeat -128px -246px;
}

.cancel {
	background: url(../images/sprite.png) no-repeat -192px -246px;
}

input.validate {
	background: url(../images/sprite.png) no-repeat -256px -246px;
}

input.add {
	background: url(../images/sprite.png) no-repeat -320px -246px;
}

/* Les images pour les boutons radio de cadeau */
.gift .icon, .bought .icon {
	background: url(../images/sprite.png) no-repeat -64px -246px;
} 