/* Le titre et les titres des popin */
header, h1.typein {
	color: #ff0000;
}

/* Le menu de navigation */
nav {
	background-color: #ffada1;
	border: solid 1px #ff0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffada1), to(#ff8373));
	background: -moz-linear-gradient(top, #ffada1, #ff8373);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffada1', endColorstr='#ff8373');
	}

/* Les liens du menu de navigation */
nav a {
	background-color: #ff8373;
	color: black;
	border-color: #ff0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff8373), to(#ffada1));
	background: -moz-linear-gradient(top, #ff8373, #ffada1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8373', endColorstr='#ffada1');
	text-shadow: 1px 1px 1px grey;
	}
	
nav a:hover {
	color: white;
	box-shadow: 1px 1px 10px  #ff553f inset;
	}
	
/* Les images de sprite pour les boutons submit etc */
input.edit {
	background: url(../images/sprite.png) no-repeat -0 -738px;
}

input.delete {
	background: url(../images/sprite.png) no-repeat -128px -738px;
}

.cancel {
	background: url(../images/sprite.png) no-repeat -192px -738px;
}

input.validate {
	background: url(../images/sprite.png) no-repeat -256px -738px;
}

input.add {
	background: url(../images/sprite.png) no-repeat -320px -738px;
}

/* Les images pour les boutons radio de cadeau */
.gift .icon, .bought .icon {
	background: url(../images/sprite.png) no-repeat -64px -738px;
} 